body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.base-app {
    color: rgb(30, 20, 46);
    background-color: rgb(202, 206, 219);
    padding: 3px 5px;
    border-radius: 5px;
}

.app2 {
    color: rgb(26, 54, 21);
    background-color: rgb(215, 231, 213);
    padding: 3px 5px;
    border-radius: 5px;
}
